.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 30px 0;
  background-color: #003366;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.navbar a:hover {
  background-color: #002244;
  border-radius: 5px;
}
